@import "./reset.scss";

// 滚动条外观样式
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: white;
  min-height: 5px;
  border-radius: 5px;
}
