// scss 全局变量
$color: red;
// 左侧的菜单的宽度
$base-menu-width: 260px;
// 左侧菜单的背景颜色
$base-menu-background: #001529;
// 顶部导航的高度
$base-tabbar-height: 50px;
// 左侧菜单 logo div 高度的设置
$base-menu-log-height: 50px;
// 左侧采用 logo 文字大小
$base-menu-logo-size: 20px;